<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <%if @recipes.empty?%>
     <p>No recipes.</p>
    <%else%>
      <% @recipes.each do |recipe| %>
        <%= render "_partials/cards/recipe-card", recipe: recipe %>
      <% end %>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
