<%= link_to 'Add new recipe', new_recipe_path, :class => 'btn btn-secondary float-right add-button-margins' %>
<p style="color: green"><%= notice %></p>

<div class="clear center_content">
<h2>Recipes</h2>

<div id="recipes">
  <%if @recipes.empty?%>
     <p>No recipes.</p>
    <%else%>
      <% @recipes.each do |recipe| %>
        <%= render "_partials/cards/recipe-card", recipe: recipe %>
      <% end %>
  <% end %>
</div>
</div>
