<div>
  <%= link_to "Back to recipes", recipes_path, class: 'btn btn-primary float-right add-button-margins' %>
</div>
<div class="card text-center m-5 clear" style="max-width: 500px; margin: auto !important">
<h1 class="card-header text-center">New recipe</h1>

<div class="card-body">
<%= render "form", recipe: @recipe %>
</div>

<br>

</div>