<div>
  <%= link_to "Back to recipes", recipes_path, class: 'btn btn-primary' %>
</div>
<div class="card text-center m-5" style="max-width: 500px">
<h1 class="card-header text-center">New recipe</h1>

<div class="card-body">
<%= render "form", recipe: @recipe %>
</div>

<br>

</div>