<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= recipe.name %></h5>
    <p class="card-text"><%= recipe.description%>.</p>
    <%= render partial: '_partials/buttons/delete-recipe', locals: { recipe: recipe} %>
    <%= render partial: '_partials/buttons/recipe-detail', locals: { recipe: recipe} %>
  </div>
</div>