<div >
      <div>
        <h5><%= recipe.name %></h5>
        <p><%= recipe.description%>.</p>
       <div>
         <%= render partial: '_partials/buttons/delete-recipe', locals: { recipe: recipe} %>
         <%= render partial: '_partials/buttons/recipe-detail', locals: { recipe: recipe} %>
      </div>
    </div>
</div>