/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

.navbar-devise {
  justify-content: left !important;
}

.margin-nav {
  margin: 10px;
}

.font-weight-1 {
  font-weight: 400;

}

.font-weight-2 {
  font-weight: 600;
} 

.navbar {
  min-height: 50px;
}

.navbar a {

  color: #343a40;
}

.left-padding-nav {
  padding-left: 30px;
}

.center-div {
  margin: auto;
  width: 60%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.margin-top-nav {
  margin-top: 5%;
}

.margin-bottom-login {
  margin-bottom: 20px;
}

.notice-p {
  color: green;
}

.alert-p {
  color: red;
}

.center_content {
  text-align: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-column-1 {

}

.recipe_data {
  margin: auto;
  justify-content: space-between;
}

.public_data {
  margin: auto;
  justify-content: space-evenly;
}

.justify-content {
  justify-content: space-between;
}

.recipe-info {
  width: 100%;
  min-height: 120px;
  margin: 20px 20px 20px 20px;
  border: solid 1px gray;
  gap: 20%;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

#recipe {
  font-size: 40px;
}

.recipe_desc {
  align-self: end;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 15px;
}

.add-button-margins {
  margin: 20px 20px;
}

.float-right {
  float: right !important;
}

.clear {
  clear: both;
}

.margin-table {
  padding: 20px;
}
